@define-color cc-bg #4A4A4AB3;
@define-color noti-border-color #4A4A4ACC;
@define-color noti-bg #4A4A4AB3;
@define-color noti-bg-opaque #4A4A4ACC;
@define-color noti-bg-darker #3A3A3AB3;
@define-color noti-bg-hover #5A5A5ACC;
@define-color noti-bg-hover-opaque #5A5A5AE6;
@define-color noti-bg-focus #4A4A4ACC;
@define-color noti-close-bg #FFFFFF33;
@define-color noti-close-bg-hover #FFFFFF4D;
@define-color color #FFFFFF;
@define-color color-disabled #FFFFFF80;
@define-color bg-selected #4A4A4ACC;
