* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    background: transparent;
    color: #ffffff;
    font-size: 16px;
    font-family: "Hack Nerd Font";
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
}

#workspaces button.active {
    color: #ffffff;
    background: #4a4a4a;  /* Gray for active workspace */
}

#custom-powermenu,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio,
#custom-updates,
#network,
#battery,
#custom-spotify,
#custom-notifications {
    padding: 6px 12px;
    background-color: #4a4a4a;  /* Gray for modules */
    border-radius: 30px;
    margin: 8px 6px;
    color: #ffffff;
}

#window {
    color: #ffffff;
}

#custom-updates,
#custom-powermenu,
#pulseaudio,
#cpu,
#temperature,
#memory,
#network,
#clock,
#battery,
#custom-spotify,
#custom-notifications {
    color: #ffffff;
}

#battery.charging {
    color: #ffffff;
}

#custom-spotify {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
}

#custom-spotify.playing {
    color: #1DB954;  /* Spotify green */
}

#custom-spotify.paused {
    color: #ffffff;
}

#custom-notifications {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
}

#custom-notifications.dnd {
    color: #ff0000;
}

#custom-notifications.notifications {
    color: #ffffff;
}